@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import "tailwindcss";

.beau-rivage-regular {
  font-family: "Beau Rivage", cursive;
  font-weight: 400;
  font-style: normal;
}